<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer-custom text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>EventsPlatform</h5>
                <p>Платформа для организации и поиска мероприятий</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Email: info@eventsplatform.ru</p>
                <p>Телефон: +7 (999) 123-45-67</p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2025 EventsPlatform. Все права защищены.</p>
        </div>
    </div>
</footer>
</body>
</html>